@use '../../sass/variables' as *

.resultado__subtitle code
    background: $blue-500
    color: white
    border-radius: 10px
    padding: 0 10px
    margin-left: 15px

.resultado__compartilhe
    display: grid

.resultado__title
    margin: 10px 0

h3.resultado__title
    font-size: 1.3rem
    margin-bottom: 20px

h4.resultado__title
    font-size: 1rem

.resultado__info
    background: rgba(255, 255, 255, 0.2)
    backdrop-filter: blur(5px)
    line-height: 1.5
    padding: 10px 20px
    border-radius: 10px
    border: 1px solid $green-500

.button.resultado__copy
    background: $blue-500
    font-size: 1rem
    padding: 10px