@use '../../sass/variables' as *

.resultado__subtitle.subtitle
    display: inline-flex
    justify-content: center
    align-items: center
    margin-bottom: 0

.resultado__compartilhe
    display: grid

.resultado__title
    margin: 10px 0

h3.resultado__title
    font-size: 1.3rem
    margin-bottom: 20px

h4.resultado__title
    font-size: 1rem

.button.resultado__copy
    font-size: 1rem
    padding: 10px

.resultado__modal
    display: grid
    justify-items: center
    font-size: 1.25rem
    color: white
    line-height: 1.5

    h2
        font-size: 2.5rem

.resultado__destaque
    background: $yellow-300
    font-size: 3rem
    color: $green-500
    border-radius: 20px
    padding: 10px 20px
    margin-bottom: 30px

.reusltado__codigo
    font-weight: 800
    text-align: center
    margin-bottom: 20px
