@use './variables' as *
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Quicksand:wght@600&display=swap')
@import-normalize

html, body
    margin: 0
    font-family: 'Quicksand', sans-serif
    font-size: 14px
